html{
  background-color: rgb(253, 189, 129);
}

#container {
  border-radius: 10px;
  background-color: #fbe0b5;
  width: 75%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
}

.memoryCard {
  margin:2px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
    
}

.pictures {
  width: 98%;
  height: 98%;
}


.memoryCardBox {
  width: 20%;
  height: 25%;
  perspective: 600px;
  position: relative;
}

.cardFace {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

  
.cardFaceBack {
  transform: rotateY( 180deg );
}

.is-flipped {
  transform: rotateY(180deg);
}

.flexContainer {
  margin: 1%;
  width: 97vw;
  height: 96vh;
  display: flex;
  flex-wrap: wrap;
}
  
#auswertung {
  border-radius: 10px;
  width:22%;
  margin-left: 2%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.hidden {
  display:none
}

#bestenliste {
  /* display: flex; */
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-bottom: none;
  width:100%;
  font-size: large;
  font-weight: bold;
  align-content:center;
}

span{
  margin: 14%;
  font-weight: bolder;
  font-size: xx-large;  
}


#ergebnisse {
text-align: center;
}


label {
  margin: 5px;
  font-weight: bolder;
  font-size: xx-large;
}

select {
  width: 50%;
  background-image: linear-gradient(to top, gainsboro 0%, white 90%);
  margin: 5px;
  font-weight: bold;
  font-size: medium;
}

input {
  width: 50%;
  margin: 5px;
  font-size: 1.3em; padding: 5px 12px; 
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: teal;
  border: 1px solid rgb(144, 137, 137);
  background-image: linear-gradient(to top, gainsboro 0%, white 90%);
  border-radius: 5px;
}

button {
  width: 50%;
  margin: 5px;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	border-radius:5px;
	border:1px solid #337bc4;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
button:active {
	position:relative;
	top:1px;
}

        
span:hover {
  cursor: pointer;
}

img {
  border-radius: 5px;
  box-shadow: 2px 3px 0px 0px rgb(73, 69, 69);
}

.center{
  width:100%;
  text-align: center;
  align-content: center;
}

#gif {
  width:100%;
  box-shadow: none;
}

.laden{
  width: 100%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}


.winner{
  width: 100%;
  align-content: center;
  /* display: flex;
  flex-wrap: wrap; */
}


#win{
  font-size: xx-large;
  font-weight: bold;
  align-content: center;
  text-align: center;
}

p{
  text-align: center;
}